* {
   font-family: 'Quicksand', sans-serif;
   // font-family: 'Montserrat', sans-serif;
  }
  
  body {
    margin: 0;
   }
  
 .hero{
    img{
        width: 100vw;
    }
 }

 .form-crud{
    display: flex;   
    justify-content: space-around;
    align-items: center;   
 }
 .form-crud--list{
   height: 36rem;
 }

 table {
   border-collapse: collapse;
 }
 
 td, th {
   border: 1px solid #dddddd;
   text-align: left;
   padding: 8px;
}

input[type=text], input[type=number] {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
}

input[type=submit]{
   width: 30%;
   background-color: #ddd;
   color: #000;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}
