* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  
  body {
    margin: 0;
   }
  
 .hero{
    img{
        width: 100vw;
    }
 }

 .form-crud{
    display: flex;   
    justify-content: space-around;
    align-items: center;
 }